/* @module anyfetch-document-snippet { */
article.anyfetch-document-snippet {
  margin: 0;
  padding: 0.5em;
  border-bottom: solid 1px gray;
}
article.anyfetch-document-snippet * {
  margin: 0.2em;
  padding: 0;
}

/*   @module-alteration anyfetch-content { */
article.anyfetch-document-snippet main.anyfetch-content {
  font-weight: lighter;
}
/*   }
 *   @module-alteration anyfetch-title { */
article.anyfetch-document-snippet h1.anyfetch-title {
  font-size: 1em;
  font-weight: bold;
}
/*   }
 * } */

/* @module anyfetch-document-full {
 *   @module-alteration anyfetch-header { */
article.anyfetch-document-full header.anyfetch-header {
}
/*   }
 * } */

/* @module anyfetch-header {
 *   @section clearfix { */
header.anyfetch-header:before, header.anyfetch-header:after { 
  content: "";
  display: table;
}
header.anyfetch-header:after {
  clear: both;
}
header.anyfetch-header {
  zoom: 1;
}
/*   }
 * } */

/* @module anyfetch-title { 
 *   @module-alteration anyfetch-number { */
h1.anyfetch-title .anyfetch-number {
  display: inline-block;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 1em;
  color: white;
  background-color: black;
}
/*   }
 * } */

/* @module anyfetch-title-detail { */
p.anyfetch-title-detail{
  color: grey;
}
/* } */


/* @module anyfetch-aside-image { */
figure.anyfetch-aside-image {
  height: 4em;
  float: left;
  
}
figure.anyfetch-aside-image img {
  height: 100%;
}
/* } */

/* @module anyfetch-pill-list { */
ul.anyfetch-pill-list {
  margin: 0;
}
ul.anyfetch-pill-list li {
  display: inline-block;
  list-style: none;
}
/* } */

/* @module anyfetch-pill { */
li.anyfetch-pill {
  padding: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: 0;
  border-radius: 1em;
  color: gray;
  border: solid 1px darkgray;
}
/* } */

/* @module anyfetch-hlt { */
span.anyfetch-hlt {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  background-color: lightyellow;
}
/* } */

/* @module anyfetch-right-arrow { */
.anyfetch-right-arrow:before {
  content: "→";
}
/* } */

/* @module anyfetch-email { */
.anyfetch-email:before {
  content: "<";
}
.anyfetch-email:after {
  content: ">";
}
/* } */