.anyfetch-document-full {
  header.anyfetch-header {
    background-color: #fbfbfb;
    border-bottom: solid 1px lightgray;
    padding: 0.5em;
    overflow: auto;
    .anyfetch-title-group {
      h1.anyfetch-title {
        font-size: 1.4em;
        color: #444;
        margin-top: 0;
        margin-bottom: 0.4em;
      }
      p.anyfetch-title-detail {
        margin-top: 0.4em;
        margin-bottom: 0.4em;
      }
    }
  }
  main.anyfetch-content {
    overflow: auto;
    padding: 0.7em;

    .anyfetch-section-title {
      margin-bottom: .8em;
    }
    ul {
      margin-top: .8em;
    }
    p {
      margin-top: .8em;
    }
  }
  article.anyfetch-thread-part {
    margin: -0.5em;
  }
}
