header.anyfetch-header {
  &:before, &:after {
    content: "";
    display: table;
  }
  zoom: 1;

  h1.anyfetch-title {
    .anyfetch-number {
      display: inline-block;
      padding: 0 0.4em;
      border-radius: 1em;
      min-width: 1.8em;
      text-align: center;
      color: rgb(100, 100, 100);
      border: .1em solid rgb(100, 100, 100);
      font-size: .8em;
      line-height: 1.2em;
      margin-right: .5em;
    }
  }

  .anyfetch-title-detail {
    color: gray;
  }
}
