
.anyfetch-icon-people {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="64" height="64"><g fill="#b6b6b6"><path d="M46.864 17.77c0 8.212-6.658 14.87-14.87 14.87s-14.87-6.658-14.87-14.87S23.783 2.9 31.995 2.9s14.87 6.658 14.87 14.87z"/><path d="M32 39.563c-17.137 0-31.142 9.53-32 21.537h64c-.858-12.007-14.863-21.537-32-21.537z"/></g></svg>');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: .8em;
  margin-right: .5em;
  margin-left: -.2em;
}
.anyfetch-icon-related {
  padding-left: 9px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAKCAYAAABmBXS+AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gkWEAQrSHQi+QAAAJ9JREFUGNNt0LEKgXEUxuEHszIYbFaXwKYMRgwG1yDFVZDIDVDKogyfUVFyBWY2N0AZDVj+6uvLqVPnnH6d97yH/9FChCWyqT/AADlscMExnQAa+CCPZ5i940Ada+xRRBpbFH6bKiGhjxuO2GEIpaA/QjmAE1Qx/8lMsUAt9Ds0cYjfEuEa6jE6WCUtz9DDI/znlAQyOKONe3DUxSsOfQEQAh3RFNkN8wAAAABJRU5ErkJggg==) no-repeat;
  padding-bottom: 10px;
}
